:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Figtree", sans-serif;
  background-color: var(--yellow);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 32rem;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 2.4rem;
  border: 1px solid var(--gray-950);
  box-shadow: 7px 7px 0px var(--gray-950);
}

.card-img {
  width: 100%;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-tag {
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 800;
  background-color: var(--yellow);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-bottom: 1.2rem;
}

.card-date {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1.2rem;
}

.card-link {
  display: block;
  font-weight: 800;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem;
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
  color: var(--gray-950);
}

.card-link:hover,
.card-link:active {
  color: var(--yellow);
}

.card-description {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.card-writer-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.writer-img {
  width: 4rem;
}

.writer-name {
  font-size: 1.2rem;
  font-weight: 800;
}
