:root {
  /* Colors */
  --gray-950: #111;
  --gray-500: #6b6b6b;
  --yellow: #f4d04e;
  --white: #fff;

  /* Typography - Font Family */
  --font-family: "Figtree Extra Bold", sans-serif;
  --letter-spacing: 0;
  --line-height: 1.5;

  /* Text Preset 1 */
  --text-preset-1-size: 2.4rem;
  --text-preset-1-weight: 800;

  /* Text Preset 2 */
  --text-preset-2-size: 1.6rem;
  --text-preset-2-weight: 500;

  /* Text Preset 3 */
  --text-preset-3-size: 1.4rem;
  --text-preset-3-weight: 500;

  /* Text Preset 3 (Bold) */
  --text-preset-3b-size: 1.4rem;
  --text-preset-3b-weight: 800;

  /* Spacing */
  --spacing-300: 2.4rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
  --spacing-50: 0.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  background-color: var(--yellow);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 38.4rem;
  background-color: var(--white);
  border-radius: 2rem;
  padding: var(--spacing-300);
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0px var(--gray-950);
}

.card-img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: var(--spacing-300);
}

.card-tag {
  font-size: 1.2rem;
  display: inline-block;
  font-weight: 800;
  background-color: var(--yellow);
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 0.4rem;
  margin-bottom: var(--spacing-300);
}

.card-date {
  font-size: var(--text-preset-3-size);
  font-weight: var(--text-preset-3-weight);
  display: block;
  margin-bottom: var(--spacing-300);
}

.card-link {
  display: block;
  font-size: var(--text-preset-1-size);
  font-weight: var(--text-preset-1-weight);
  margin-bottom: var(--spacing-300);
}

.card-link:link,
.card-link:visited {
  text-decoration: none;
  color: var(--gray-950);
}

.card-link:hover,
.card-link:active {
  color: var(--yellow);
}

.card-description {
  color: var(--gray-500);
  font-size: var(--text-preset-2-size);
  font-weight: var(--text-preset-2-weight);
  line-height: var(--line-height);
  margin-bottom: var(--spacing-300);
}

.card-writer-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.writer-img {
  width: 4rem;
}

.writer-name {
  color: var(--gray-950);
  font-size: var(--text-preset-3b-size);
  font-weight: var(--text-preset-3b-weight);
}
